		/*              */
		/* autres hacks */
		/*              */
		@media screen and (max-width: 550px), screen and (max-height: 550px) {
		  body .JClicPlayer { background-size: contain; }
		}
		/* 										 */
		/* Hack sale pour cacher la barre du bas */
		/* 										 */

		div#messageONav {
		  position: absolute;
		  left: 30%;
		  top: 45%;
		  font-size: 1.5em;
		  background: #c4e0ff;
		  padding: 1em;
		  border-radius: 1em;
		  z-index: 1;
		}
		
		.JClicPlayerCnt {
		  margin: 0px !important;
		}
		.JClicCtrlCnt {
		   max-height: 0px;
		}
		.JClicBtn:first-of-type {
		  position: fixed;
		  background-color: rgba(138, 138, 138, 0.75) !important;
		  width: 5em;
		  height: 5em;
		  font-size: 1em;
		  left: 1em;
		  bottom: 1em;
		  border-radius: 1em;
		}
		.JClicBtn:first-of-type svg {
		  min-height: 100% !important;
		  min-width: 100% !important;
		}
		.JClicBtn:nth-child(0n+3) {
		  position: fixed;
		  background-color: rgba(138, 138, 138, 0.75) !important;
		  width: 5em;
		  height: 5em;
		  font-size: 1em;
		  right: 1em;
		  bottom: 1em;
		  border-radius: 1em;
		}
		.JClicBtn:nth-child(0n+3) svg {
		  min-height: 100% !important;
		  min-width: 100% !important;
		}
		.JClicMsgBox {
			display: none;
		}
		button.JClicCountCnt {
			display: none !important;
		}

		.JClicCtrlCnt { margin: 0px !important }


