body.assoc_18_12 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_12 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_12 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_12 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_13 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_13 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_13 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_13 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_14 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_14 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_14 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_14 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_15 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_15 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_15 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_15 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_30 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_30 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_30 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_30 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_31 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_31 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_31 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_31 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_32 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_32 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_32 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_32 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_33 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_33 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_33 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_33 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_66_2 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_2 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_2 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_2 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_2 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66_20 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_20 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_20 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_20 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_20 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66b_22 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_22 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_22 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_4 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_4 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.dict_1_mot_carotte { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_carotte #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_lire { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_lire #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_lune { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_lune #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_malade { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_malade #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_marmite { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_marmite #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_mur { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_mur #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_riz { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_riz #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_mot_salade { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_mot_salade #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_1_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_1_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_mali { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_mali #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_moto { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_moto #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_papa { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_papa #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_rat { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_rat #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_tapis { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_tapis #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_mot_tomate { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_mot_tomate #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_2_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_2_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_menu { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_menu #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.ordonner_lettres_16 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_16 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_16 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_16 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_17 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_17 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_17 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_17 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_18 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_18 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_18 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_18 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_34 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_34 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_34 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_34 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_35 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_35 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_35 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_35 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_36 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_36 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_36 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_36 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_syl_10 { background-color: #C0C0C0;
background-image: url('marmite.png');
background-repeat: no-repeat; background-position: center;
background-image: url('marmite.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_10 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_10 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_11 { background-color: #C0C0C0;
background-image: url('malade.png');
background-repeat: no-repeat; background-position: center;
background-image: url('malade.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_11 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_11 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_26 { background-color: #C0C0C0;
background-image: url('salade.png');
background-repeat: no-repeat; background-position: center;
background-image: url('salade.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_26 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_26 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_27 { background-color: #C0C0C0;
background-image: url('moto.png');
background-repeat: no-repeat; background-position: center;
background-image: url('moto.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_27 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_27 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_28 { background-color: #C0C0C0;
background-image: url('marmite.png');
background-repeat: no-repeat; background-position: center;
background-image: url('marmite.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_28 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_28 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_29 { background-color: #C0C0C0;
background-image: url('zzcarotte.png');
background-repeat: no-repeat; background-position: center;
background-image: url('zzcarotte.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_29 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_29 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_8 { background-color: #C0C0C0;
background-image: url('lune.png');
background-repeat: no-repeat; background-position: center;
background-image: url('lune.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_8 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_8 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_9 { background-color: #C0C0C0;
background-image: url('salade.png');
background-repeat: no-repeat; background-position: center;
background-image: url('salade.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_9 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_9 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.presentation_1 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_1 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_19 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_19 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_21 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_21 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_3 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_3 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_23 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_23 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_23 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_24 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_24 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_24 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_25 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_25 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_25 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_5 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_5 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_5 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_6 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_6 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_6 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_7 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_7 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_7 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

