body { 
  height:100%; 
  width: 100%; 
  margin: 0;
}

#Fenetre
{
  text-align: center;
}

.Grille{
  display: inline-block;  
  margin: 10px;
  vertical-align: middle;
}

table.Grille{
  border-collapse: collapse;
}

/* creer plus tard un bloc .Grille .Cellule pour faire le distingo entre cellules de grilles et celles présentes dans un texte (si besoin) */
.Cellule{
  /*display: inline-block;  */
  vertical-align: middle;
  text-align: center;
  border: 1px black solid;
  background: #C0C0C0;
  background-repeat: no-repeat;
  background-position: center center;
}

.Cellule span{
  display: block;
}

.Cellule.inactive{
  background: transparent;
  border:none;
}

#blocMedias{ display: none }

div.lien { 
  height: 0px;
  border-bottom: 2px solid black;
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  pointer-events: none;
}

#barre {
  /*  Positionnement  */
  bottom: 0px;
  left: 0px;
/*   width: 600px; */
  height: 46px;
  position:fixed;
  /*  Style  */
  background: rgba(255, 255, 255, 0.7);
}

#barre .blocBarre {
  display: inline-block;
  height: 100%;
}

#barre .blocBoutons {
  border: 1px solid grey;
}

#barre .blocBoutons button {
  width: 50px;
  height: 40px;
  margin-left: 0.5em;
}

.ui-button-icon-primary.ui-icon.icone-precedant { 
  background-image: url("../icones/btn_precedant.png"); 
  width: 22px;
  height: 22px;
  top: 15px;
}

.ui-button-icon-primary.ui-icon.icone-suivant { 
  background-image: url("../icones/btn_suivant.png"); 
  width: 22px;
  height: 22px;
  top: 15px;
  left: 12px;
}

.ui-button-icon-primary.ui-icon.icone-recharger { 
  background-image: url("../icones/btn_recharger.png"); 
  width: 22px;
  height: 22px;
  top: 15px;
  left: 11px;
}
