body { background: white; margin: 0px; }

.bandeau
{
  background: rgb(255,123,0);
  background: linear-gradient(45deg, #f9d982 0%, #FFF 100%) repeat scroll 0% 0% transparent;
  min-height: 80px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1), 0 0 .2rem rgba(0, 0, 0, .1);
}

.bandeau--dictees { background: linear-gradient(45deg, #7ba9ff 0%, #FFF 100%) repeat scroll 0% 0% transparent; }

.bandeau h1
{
  margin: 0px;
  padding: 8px;
  font-family: sans-serif;
  font-weight: normal;
  color: rgb(161, 90, 0);
  font-size: 2.3em;
  padding-top: 20px;
  padding-left: 110px;
}
.bandeau--dictees h1 { color: rgb(54, 67, 94); }

.bandeau .logo
{
  float: left;
  margin-left: 15px;
}

.page { margin-top: 1em }

.intro 
{
  color: #444;
  font-weight: bold;
  font-size: 1em;
}

.tableau
{
  background: url("tableau.png");
  background-size: 100%;
}

ul.listeIcones
{
}

ul.listeIcones li
{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  border-width: 5px;
  padding: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  text-align: center;
  min-width: 150px;
  min-height: 185px;
  position: relative;
}

ul.listeIcones li:hover
{
  border-style: solid;
  border-color:#ff934b;
}

ul.listeIcones li a
{
  vertical-align: bottom;
  position: absolute;
  bottom: 0px;
  min-width: 150px;
  left: 0px;
  text-decoration: none;
  color: #C36A1E;
  font-family: sans;
  font-size: 1.6em;
}

ul.listeIcones li a img
{
  margin-bottom: 5px;
}

ul.liste--dictees{
  max-width: 60rem;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
ul.liste--dictees li {
  display: inline-block;
  font-size: 2rem;
  font-family: sans;
  margin: 1rem 2rem;
  list-style: none;
}
ul.liste--dictees li img {
  height: 5rem;
  vertical-align: middle;
}
ul.liste--dictees li a {
  text-decoration: none;
  color: #36435e;
  vertical-align: middle;
}
ul.liste--dictees li:hover a { text-decoration: underline; }

.img-container {
    display: inline-block;
    width: 6rem;
}

a.lien-retour {
    text-decoration: none;
    color: #36435e;
    font-family: sans;
    font-size: 1.5rem;
    margin: 2rem 2rem;
    display: inline-block;
}
a.lien-retour:hover { text-decoration: underline; }

@media (max-width: 500px){
  ul.liste--dictees li {
    margin: 1rem 0rem;
    width:100%;
  }
  a.lien-retour { margin: 2rem 0rem; }
}


/* ######################### */
/* # Footer AFKL */
/* ######################### */

.footerAfkl {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1), 0 0 .2rem rgba(0, 0, 0, .1);
  font-family: sans;
  padding: .75rem;
/*   padding-bottom: 2rem; */
  background: #F0F0F0;
  display: flex; 
  flex-direction:column;
}
@media (min-width: 330px){ .footerAfkl { flex-direction:row; } }

.footerAfkl__message{
  color: #333;
  align-self: flex-end;
}

.footerAfkl_blocdroit {
  display: flex; 
  flex-direction:column; 
  padding-left: .75rem;
  align-self: flex-end;
}
@media (min-width: 450px){ .footerAfkl_blocdroit { flex-direction:row; } }

.footerAfkl__button {
  display: inline-block; 
  margin: .5rem auto; 
  padding: .75rem; 
  color: white; 
  background-color: #df4b19; 
  border-radius: .25rem;
  text-decoration: none;
  font-weight: bold;
}

.u-fit {
  max-width: 100%; 
  max-height: 100%;
}

.u-shrink {
  flex-shrink: 1; 
}

.u-align-right {
  text-align: right; 
}

.u-align-center {
  text-align: center; 
}

